#body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;  
    flex-direction: row;
    background-color: var(--dark-color);; 
    padding-bottom: 5vh;
    padding: 5vh;
    min-height: 80vh;
    gap: 5vw;
    flex-wrap: wrap;
    padding-left: max(5vw, calc((100% - 1000px) / 2));
    padding-right: max(5vw, calc((100% - 1000px) / 2));
}

.personalentries{
    background-color: var(--light-color);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 5vmin;
    margin-bottom: 5vmin;
    flex: 1;
    min-width: 100px;
    max-width: 50vmin
}


.personaldescs{
    text-align: center;    
}

.picssection{
    margin-bottom: 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%
}

.pics{
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    margin-top: 2%;
    margin-bottom: 2%;
    object-fit: cover;
}
