#body{
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background-color: var(--dark-color);; 
    padding-bottom: 5vmin;
    min-height: 80vh;
}

.entrytitle{
    text-align: center;
    font-size: 2vmax;
}

.researchentries{
    background-color: var(--light-color);;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 20px;
    padding: 5vmin;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vmin;
    margin-top: 5vmin;
    min-width: 50%;
}

.researchdesc{
    text-align: center;
}

.picssections{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.picssections img{
    border-radius: 20px;
    width: 30%;
    aspect-ratio: 1/1;
    margin-top: 2%;
    margin-bottom: 2%;
    object-fit: cover;
}